<a href="https://colab.research.google.com/github/rohhj622/windPowerPrediction/blob/master/firstDataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 전처리

In [22]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np

## 1. 발전 실적을 한 줄의 데이터로 만들기

*   한국 남부 발전 성산풍력 발전량
*   1~24 컬럼을 한 줄로 만들기
화이팅

In [23]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [55]:
time_power=pd.read_csv(r'/content/gdrive/My Drive/Colab Notebooks/original/time_power.CSV',header=None) # 컬럼명 숫자로 들어가게
time_power.head(10)

   0     1      2      3      4     5     ...  2519  2520  2521  2522  2523  2524
0     0  3031   5741   8300   7822   253  ...  9998  6657  1527  4589  1385   341
1     0  3051   8666   8573   8462  1593  ...  9992  6274  1234  4392  1504   114
2    92  3173  10320   8584   8129  4009  ...  9330  6278   884  4071  2369   105
3   269  4196  10799   7192   9295  6941  ...  6878  6605   748  4389  3027    64
4   541  5429   8959   7834  10876  8202  ...  5994  4342  1247  5753  4530     0
5   945  7473   9078   7959  10816  6029  ...  6078  3008  2001  5555  3452     0
6   699  4464  10585   8930  10215  4359  ...  7730  3906  2635  3558  4203     0
7  1371  2120   8188   8961  10735  1817  ...  9981  2661  3065  5444  4916     0
8  1974  1935   8642  10024  10172   524  ...  9621  2323  3647  5975  3210     0
9  1425  2798  10433  10800   9078   398  ...  9583  1069  3339  6590  2052     0

[10 rows x 2525 columns]

In [25]:
final_time_power = pd.DataFrame(columns=['windForce'])

In [26]:
type(final_time_power)
print(final_time_power.shape)
print(final_time_power)

(0, 1)
Empty DataFrame
Columns: [windForce]
Index: []

In [27]:
for i in range(0,len(time_power.columns)):
    for j in range(0,24): # 마음에 들지 않지만 하나하나 골라서 추가,,,
        final_time_power = final_time_power.append({"windForce":time_power[i][j]}, ignore_index=True)
        #print(time_power[i][j])

In [28]:
#위 1분 54초 걸림
final_time_power1 = final_time_power.copy()

In [29]:
#test.to_csv("time_power_1_row.csv", mode='w')

In [30]:
final_time_power1

      windForce
0             0
1             0
2            92
3           269
4           541
...         ...
60595       498
60596       474
60597      2250
60598      2645
60599      3268

[60600 rows x 1 columns]

## 2. 기상청 데이터 이어 붙이기

In [99]:
foreData=pd.read_csv(r'/content/gdrive/My Drive/Colab Notebooks/original/1.csv', encoding='euc-kr', header = None)

#foreData = foreData.fillna(0) # 빈 값 0으로 
foreData = foreData.drop(index=0) # 컬럼명 적혀있는 거 지움
foreData = foreData.drop(0,1) # 컬럼 삭제는 axis = 1 그래서 뒤에 1 있는 거
"""foreData.columns  = ['date','tem','temQC'
          ,'rain','rainQC'
           ,'windSpeed','windSpeedQC','windDirection','windDirectionQC'
           ,'snow','snow3Hour'
           ,'cloud','middleCloud','clodeUn','highCloud'] #컬럼명 지정"""

foreData

                    1    2    3    4    5   6   ...   21   22   23   24   25   26
1     2013-01-01 00:00  1.3  NaN  3.2  340  77  ...  NaN    0  NaN  NaN  NaN  NaN
2     2013-01-01 01:00   .9  NaN  2.6  320  77  ...  NaN    0  NaN  NaN  NaN  NaN
3     2013-01-01 02:00  1.5  NaN    3  340  77  ...  NaN    0  NaN  NaN  NaN  NaN
4     2013-01-01 03:00  2.7    0  1.7  270  74  ...   01   .3  NaN  NaN  NaN  NaN
5     2013-01-01 04:00   .6  NaN  1.8  320  82  ...  NaN   .1  NaN  NaN  NaN  NaN
...                ...  ...  ...  ...  ...  ..  ...  ...  ...  ...  ...  ...  ...
8756  2013-12-31 19:00  9.8  NaN    3  200  45  ...  NaN    6  NaN  NaN  NaN  NaN
8757  2013-12-31 20:00  9.9  NaN  3.7  250  41  ...  NaN  5.5  NaN  NaN  NaN  NaN
8758  2013-12-31 21:00  9.4  NaN  2.7  250  40  ...  NaN  5.1  NaN  NaN  NaN  NaN
8759  2013-12-31 22:00  9.2  NaN  3.2  250  40  ...  NaN  4.8  NaN  NaN  NaN  NaN
8760  2013-12-31 23:00  8.9  NaN  3.4  250  45  ...  NaN  4.7  NaN  NaN  NaN  NaN

[8760 rows x 26 columns]

In [100]:
for i in range(2,7): #2019년도 뺌
    fileName = '/content/gdrive/My Drive/Colab Notebooks/original/'+str(i)+'.csv'
    if (i == 7) : foreData1 = pd.read_csv(fileName, encoding='utf-8', header = None)# 컬럼명 숫자로 들어가게
    else : foreData1 = pd.read_csv(fileName, encoding='euc-kr', header = None)# 컬럼명 숫자로 들어가게
    #print(foreData1)

    #data2 = data2.fillna(0) # 빈 값 0으로 

    foreData1 = foreData1.drop(index=0) # 컬럼명 적혀있는 거 지움
    foreData1 = foreData1.drop(0,1) # 지점 컬럼 삭제는 axis = 1 그래서 뒤에 1 있는 거
    print(foreData1)
    """foreData1.columns  = ['date','tem','temQC'
           ,'rain','rainQC'
           ,'windSpeed','windSpeedQC','windDirection','windDirectionQC'
           ,'snow','snow3Hour'
           ,'cloud','middleCloud','clodeUn','highCloud'] #컬럼명 지정"""
    foreData = pd.concat([foreData, foreData1]) # 아래로 데이터 합치기(df 끼리, 아주 효자임)
#foreData.to_csv("weather_data_day.csv", mode='w')

                    1    2    3    4    5   6   ...    21   22   23   24   25   26
1     2014-01-01 00:00  9.4  NaN  4.5  270  46  ...   NaN  5.2  NaN  NaN  NaN  NaN
2     2014-01-01 01:00  8.5  NaN  2.9  270  48  ...   NaN  4.6  NaN  NaN  NaN  NaN
3     2014-01-01 02:00  8.6  NaN  1.5  290  52  ...   NaN    5  NaN  NaN  NaN  NaN
4     2014-01-01 03:00  8.7  NaN  1.9  270  55  ...   NaN  5.1  NaN  NaN  NaN  NaN
5     2014-01-01 04:00  6.4  NaN  2.2  230  59  ...    42  3.7  NaN  NaN  NaN  NaN
...                ...  ...  ...  ...  ...  ..  ...   ...  ...  ...  ...  ...  ...
8756  2014-12-31 19:00  3.1  NaN  4.2  320  83  ...   NaN  3.9  NaN  NaN  NaN  NaN
8757  2014-12-31 20:00  3.9  NaN  3.2  290  71  ...    04  3.5  NaN  NaN  NaN  NaN
8758  2014-12-31 21:00  4.4    0  4.9  290  62  ...   NaN  3.2  NaN  NaN  NaN  NaN
8759  2014-12-31 22:00  2.4  NaN  6.4  290  80  ...  0904  2.9  NaN  NaN  NaN  NaN
8760  2014-12-31 23:00  2.5  NaN  6.5  290  73  ...   NaN  2.4  NaN  NaN  NaN  NaN

[8760 rows x 26 columns]
                    1    2    3    4    5   6   ...    21   22   23   24   25   26
1     2015-01-01 00:00  2.9    0  5.6  290  62  ...   NaN  1.9  NaN  NaN  NaN  NaN
2     2015-01-01 01:00    3  NaN  6.2  290  53  ...   NaN  1.4  NaN  NaN  NaN  NaN
3     2015-01-01 02:00  2.6  NaN  7.1  290  64  ...    08  1.6  NaN  NaN  NaN  NaN
4     2015-01-01 03:00  3.3    0  5.4  290  54  ...    08  1.7  NaN  NaN  NaN  NaN
5     2015-01-01 04:00  1.2  NaN  4.6  290  81  ...  1308  1.4  NaN  NaN  NaN  NaN
...                ...  ...  ...  ...  ...  ..  ...   ...  ...  ...  ...  ...  ...
8754  2015-12-31 19:00  6.2  NaN  1.5  320  65  ...   NaN    5  NaN  NaN  NaN  NaN
8755  2015-12-31 20:00  6.4  NaN  1.5  320  66  ...   NaN  4.7  NaN  NaN  NaN  NaN
8756  2015-12-31 21:00  5.8  NaN  1.7  340  67  ...   NaN  4.2  NaN  NaN  NaN  NaN
8757  2015-12-31 22:00  5.2  NaN  2.6  290  66  ...   NaN  3.6  NaN  NaN  NaN  NaN
8758  2015-12-31 23:00  3.4  NaN  1.3  320  73  ...   NaN    3  NaN  NaN  NaN  NaN

[8758 rows x 26 columns]
                    1    2    3    4    5   6   ...   21   22   23   24   25   26
1     2016-01-01 00:00  3.6  NaN  1.9  290  75  ...  NaN  2.7  NaN  NaN  NaN  NaN
2     2016-01-01 01:00  3.7  NaN  2.5  290  75  ...  NaN  2.7  NaN  NaN  NaN  NaN
3     2016-01-01 02:00  4.2  NaN  2.7  270  73  ...  NaN    3  NaN  NaN  NaN  NaN
4     2016-01-01 03:00  4.8  NaN  2.9  290  70  ...  NaN  3.1  NaN  NaN  NaN  NaN
5     2016-01-01 04:00  5.2  NaN  2.8  290  70  ...  NaN  3.3  NaN  NaN  NaN  NaN
...                ...  ...  ...  ...  ...  ..  ...  ...  ...  ...  ...  ...  ...
8785  2016-12-31 19:00  4.6  NaN  2.4  270  74  ...  NaN  3.5  NaN  NaN  NaN  NaN
8786  2016-12-31 20:00    4  NaN  2.4  270  76  ...  NaN    3  NaN  NaN  NaN  NaN
8787  2016-12-31 21:00  5.4  NaN  1.8  270  72  ...  NaN  3.8  NaN  NaN  NaN  NaN
8788  2016-12-31 22:00  5.9  NaN  2.8  270  70  ...  NaN    4  NaN  NaN  NaN  NaN
8789  2016-12-31 23:00  4.5  NaN  2.9  290  76  ...  NaN  2.9  NaN  NaN  NaN  NaN

[8789 rows x 26 columns]
                    1    2    3    4    5   6   ...   21   22   23   24   25   26
1     2017-01-01 00:00  5.6  NaN  1.6  290  72  ...  NaN  2.7  NaN  NaN  NaN  NaN
2     2017-01-01 01:00  6.6  NaN  2.3  290  68  ...  NaN  2.9  NaN  NaN  NaN  NaN
3     2017-01-01 02:00  5.5  NaN  2.5  270  73  ...  NaN  3.3  NaN  NaN  NaN  NaN
4     2017-01-01 03:00  6.4  NaN  2.7  270  70  ...  NaN  3.9  NaN  NaN  NaN  NaN
5     2017-01-01 04:00  6.9  NaN  2.9  270  69  ...  NaN  4.3  NaN  NaN  NaN  NaN
...                ...  ...  ...  ...  ...  ..  ...  ...  ...  ...  ...  ...  ...
8754  2017-12-31 19:00  5.8  NaN  2.2  320  55  ...  NaN    3  NaN  NaN  NaN  NaN
8755  2017-12-31 20:00  5.7  NaN  2.2  320  55  ...  NaN    3  NaN  NaN  NaN  NaN
8756  2017-12-31 21:00  4.6  NaN  2.1  290  59  ...  NaN  2.4  NaN  NaN  NaN  NaN
8757  2017-12-31 22:00  5.9  NaN  2.2  320  58  ...  NaN  3.5  NaN  NaN  NaN  NaN
8758  2017-12-31 23:00  5.9  NaN  1.4  320  58  ...  NaN  3.4  NaN  NaN  NaN  NaN

[8758 rows x 26 columns]
                    1    2    3    4    5   6   ...   21   22   23   24   25   26
1     2018-01-01 00:00    6  NaN  1.7  290  60  ...  NaN  3.9  NaN  NaN  NaN  NaN
2     2018-01-01 01:00  5.9  NaN  1.2  320  59  ...  NaN  3.7  NaN  NaN  NaN  NaN
3     2018-01-01 02:00  5.8  NaN  1.5  320  62  ...  NaN  3.9  NaN  NaN  NaN  NaN
4     2018-01-01 03:00  5.6  NaN  2.7  360  61  ...  NaN  3.6  NaN  NaN  NaN  NaN
5     2018-01-01 04:00  5.3  NaN  2.3  360  60  ...  NaN  3.1  NaN  NaN  NaN  NaN
...                ...  ...  ...  ...  ...  ..  ...  ...  ...  ...  ...  ...  ...
8756  2018-12-31 19:00  4.3  NaN  4.7  340  58  ...  NaN  3.3  NaN  NaN  NaN  NaN
8757  2018-12-31 20:00  3.9  NaN  4.5  360  61  ...  NaN  2.9  NaN  NaN  NaN  NaN
8758  2018-12-31 21:00  3.5  NaN    4  360  59  ...  NaN  1.9  NaN  NaN  NaN  NaN
8759  2018-12-31 22:00  3.8  NaN  3.4   20  61  ...  NaN  2.1  NaN  NaN  NaN  NaN
8760  2018-12-31 23:00  3.7  NaN  2.5   20  64  ...  NaN  1.6  NaN  NaN  NaN  NaN

[8760 rows x 26 columns]

### 0) 인덱스 설정

In [101]:
foreData = foreData.reset_index()  #index reset
foreData = foreData.drop('index',1) # index reset 하면 기존 index가 컬럼에 추가되므로 삭제
foreData

                     1    2    3    4    5   6   ...   21   22   23   24   25   26
0      2013-01-01 00:00  1.3  NaN  3.2  340  77  ...  NaN    0  NaN  NaN  NaN  NaN
1      2013-01-01 01:00   .9  NaN  2.6  320  77  ...  NaN    0  NaN  NaN  NaN  NaN
2      2013-01-01 02:00  1.5  NaN    3  340  77  ...  NaN    0  NaN  NaN  NaN  NaN
3      2013-01-01 03:00  2.7    0  1.7  270  74  ...   01   .3  NaN  NaN  NaN  NaN
4      2013-01-01 04:00   .6  NaN  1.8  320  82  ...  NaN   .1  NaN  NaN  NaN  NaN
...                 ...  ...  ...  ...  ...  ..  ...  ...  ...  ...  ...  ...  ...
52580  2018-12-31 19:00  4.3  NaN  4.7  340  58  ...  NaN  3.3  NaN  NaN  NaN  NaN
52581  2018-12-31 20:00  3.9  NaN  4.5  360  61  ...  NaN  2.9  NaN  NaN  NaN  NaN
52582  2018-12-31 21:00  3.5  NaN    4  360  59  ...  NaN  1.9  NaN  NaN  NaN  NaN
52583  2018-12-31 22:00  3.8  NaN  3.4   20  61  ...  NaN  2.1  NaN  NaN  NaN  NaN
52584  2018-12-31 23:00  3.7  NaN  2.5   20  64  ...  NaN  1.6  NaN  NaN  NaN  NaN

[52585 rows x 26 columns]

### 1) 2016 년 1월 30분 데이터 5개 삭제

*   2016-01-24 20:30, 21:30, 22:30, 23:30
*   2016-01-25 00:30

In [102]:
foreData1 = foreData.copy()

In [103]:
u = 2016
for j in range(24,26,1):
  if j<10: y = str(u)+"-01-0"+str(j)+" "
  else : y = str(u)+"-01-"+str(j)+" "
  for i in range(0,24):
    if i<10: num1 = y + "0"+str(i)+":30"
    else : num1 = y+ str(i)+":30"
    #print(num1, len(foreData1[foreData1[1].str.contains(num1)])

In [104]:
foreData1.drop(foreData1.loc[foreData1[1].str.contains(':30')].index, inplace=True)

In [105]:
foreData1

                     1    2    3    4    5   6   ...   21   22   23   24   25   26
0      2013-01-01 00:00  1.3  NaN  3.2  340  77  ...  NaN    0  NaN  NaN  NaN  NaN
1      2013-01-01 01:00   .9  NaN  2.6  320  77  ...  NaN    0  NaN  NaN  NaN  NaN
2      2013-01-01 02:00  1.5  NaN    3  340  77  ...  NaN    0  NaN  NaN  NaN  NaN
3      2013-01-01 03:00  2.7    0  1.7  270  74  ...   01   .3  NaN  NaN  NaN  NaN
4      2013-01-01 04:00   .6  NaN  1.8  320  82  ...  NaN   .1  NaN  NaN  NaN  NaN
...                 ...  ...  ...  ...  ...  ..  ...  ...  ...  ...  ...  ...  ...
52580  2018-12-31 19:00  4.3  NaN  4.7  340  58  ...  NaN  3.3  NaN  NaN  NaN  NaN
52581  2018-12-31 20:00  3.9  NaN  4.5  360  61  ...  NaN  2.9  NaN  NaN  NaN  NaN
52582  2018-12-31 21:00  3.5  NaN    4  360  59  ...  NaN  1.9  NaN  NaN  NaN  NaN
52583  2018-12-31 22:00  3.8  NaN  3.4   20  61  ...  NaN  2.1  NaN  NaN  NaN  NaN
52584  2018-12-31 23:00  3.7  NaN  2.5   20  64  ...  NaN  1.6  NaN  NaN  NaN  NaN

[52580 rows x 26 columns]

### 2) 빠진 값 채우기 
*   2015-06, 2015-11, 2017-04



#### ① 빠진 곳 인덱스 확인

In [106]:
foreData5 = foreData1.copy()
foreData5[foreData5[1].str.contains('2015-06-27 04:00') ==True].index
foreData5[foreData5[1].str.contains('2015-06-27 06:00') ==True].index
print(foreData5[foreData5[1].str.contains('2015-06-27 04:00') ==True].index)
print(foreData5[foreData5[1].str.contains('2015-06-27 06:00') ==True].index)

Int64Index([21772], dtype='int64')
Int64Index([21773], dtype='int64')



#### ② df 빠진 곳 앞 뒤로 행 가져오기

In [107]:
df = pd.DataFrame(foreData5.iloc[foreData5[foreData5[1].str.contains('2015-06-27 04:00') ==True].index[0]:foreData5[foreData5[1].str.contains('2015-06-27 06:00') ==True].index[0]+1])



#### ③ df1 에 dataFrame 형태로 평균 값으로 데이터 만들기(빠진 곳 만드는 거)

In [108]:
df1 = pd.DataFrame({1: '2015-06-27 05:00',
 2: df[2].astype(float).mean(),
 3: df[3].astype(float).mean(),
 4: df[4].astype(float).mean(),
 5: df[5].astype(float).mean(),
 6: df[6].astype(float).mean(),
 7: df[7].astype(float).mean(),
 8: df[8].astype(float).mean(),
 9: df[9].astype(float).mean(),
 10: df[10].astype(float).mean(),
 11: df[11].astype(float).mean(),
 12: df[12].astype(float).mean(),
 13: df[13].astype(float).mean(),
 14: df[14].astype(float).mean(),
 15: df[15].astype(float).mean(),
 16: df[16].astype(float).mean(),
 17: df[17].astype(float).mean(),
 18: df[18].astype(float).mean(),
 19: df[19].astype(float).mean(),
 20: df[20].astype(float).mean(),
 21: df[21].astype(float).mean(),
 22: df[22].astype(float).mean(),
 23: df[23].astype(float).mean(),
 24: df[24].astype(float).mean(),
 25: df[25].astype(float).mean(),
 26: df[26].astype(float).mean()},index=[52585])


#### ④ 그 다음에 foreData1에 추가

In [109]:
foreData1 = pd.concat([foreData1, df1])



#### ⑤ 이 다음부턴 반복

In [110]:
foreData5[foreData5[1].str.contains('2015-11-02 21:00') ==True].index
foreData5[foreData5[1].str.contains('2015-11-02 23:00') ==True].index
print(foreData5[foreData5[1].str.contains('2015-11-02 21:00') ==True].index)
print(foreData5[foreData5[1].str.contains('2015-11-02 23:00') ==True].index)
df = pd.DataFrame(foreData5.iloc[foreData5[foreData5[1].str.contains('2015-11-02 21:00') ==True].index[0]:foreData5[foreData5[1].str.contains('2015-11-02 23:00') ==True].index[0]+1])
df1 = pd.DataFrame({1: '2015-11-02 22:00',
 2: df[2].astype(float).mean(),
 3: df[3].astype(float).mean(),
 4: df[4].astype(float).mean(),
 5: df[5].astype(float).mean(),
 6: df[6].astype(float).mean(),
 7: df[7].astype(float).mean(),
 8: df[8].astype(float).mean(),
 9: df[9].astype(float).mean(),
 10: df[10].astype(float).mean(),
 11: df[11].astype(float).mean(),
 12: df[12].astype(float).mean(),
 13: df[13].astype(float).mean(),
 14: df[14].astype(float).mean(),
 15: df[15].astype(float).mean(),
 16: df[16].astype(float).mean(),
 17: df[17].astype(float).mean(),
 18: df[18].astype(float).mean(),
 19: df[19].astype(float).mean(),
 20: df[20].astype(float).mean(),
 21: df[21].astype(float).mean(),
 22: df[22].astype(float).mean(),
 23: df[23].astype(float).mean(),
 24: df[24].astype(float).mean(),
 25: df[25].astype(float).mean(),
 26: df[26].astype(float).mean()},index=[52586])
foreData1 = pd.concat([foreData1, df1])

Int64Index([24860], dtype='int64')
Int64Index([24861], dtype='int64')

In [111]:
foreData5[foreData5[1].str.contains('2017-04-25 19:00') ==True].index
foreData5[foreData5[1].str.contains('2015-11-02 23:00') ==True].index
print(foreData5[foreData5[1].str.contains('2017-04-25 19:00') ==True].index)
print(foreData5[foreData5[1].str.contains('2017-04-25 20:00') ==True].index)
print(foreData5[foreData5[1].str.contains('2017-04-25 23:00') ==True].index)
df = pd.DataFrame(foreData5.iloc[foreData5[foreData5[1].str.contains('2017-04-25 20:00') ==True].index[0]:foreData5[foreData5[1].str.contains('2017-04-25 23:00') ==True].index[0]+1])
df1 = pd.DataFrame({1: '2017-04-25 21:00',
 2: df[2].astype(float).mean(),
 3: df[3].astype(float).mean(),
 4: df[4].astype(float).mean(),
 5: df[5].astype(float).mean(),
 6: df[6].astype(float).mean(),
 7: df[7].astype(float).mean(),
 8: df[8].astype(float).mean(),
 9: df[9].astype(float).mean(),
 10: df[10].astype(float).mean(),
 11: df[11].astype(float).mean(),
 12: df[12].astype(float).mean(),
 13: df[13].astype(float).mean(),
 14: df[14].astype(float).mean(),
 15: df[15].astype(float).mean(),
 16: df[16].astype(float).mean(),
 17: df[17].astype(float).mean(),
 18: df[18].astype(float).mean(),
 19: df[19].astype(float).mean(),
 20: df[20].astype(float).mean(),
 21: df[21].astype(float).mean(),
 22: df[22].astype(float).mean(),
 23: df[23].astype(float).mean(),
 24: df[24].astype(float).mean(),
 25: df[25].astype(float).mean(),
 26: df[26].astype(float).mean()},index=[52587])
foreData1 = pd.concat([foreData1, df1])

Int64Index([37822], dtype='int64')
Int64Index([37823], dtype='int64')
Int64Index([37824], dtype='int64')

In [112]:
df1 = pd.DataFrame({1: '2017-04-25 22:00',
 2: df[2].astype(float).mean(),
 3: df[3].astype(float).mean(),
 4: df[4].astype(float).mean(),
 5: df[5].astype(float).mean(),
 6: df[6].astype(float).mean(),
 7: df[7].astype(float).mean(),
 8: df[8].astype(float).mean(),
 9: df[9].astype(float).mean(),
 10: df[10].astype(float).mean(),
 11: df[11].astype(float).mean(),
 12: df[12].astype(float).mean(),
 13: df[13].astype(float).mean(),
 14: df[14].astype(float).mean(),
 15: df[15].astype(float).mean(),
 16: df[16].astype(float).mean(),
 17: df[17].astype(float).mean(),
 18: df[18].astype(float).mean(),
 19: df[19].astype(float).mean(),
 20: df[20].astype(float).mean(),
 21: df[21].astype(float).mean(),
 22: df[22].astype(float).mean(),
 23: df[23].astype(float).mean(),
 24: df[24].astype(float).mean(),
 25: df[25].astype(float).mean(),
 26: df[26].astype(float).mean()},index=[52588])
foreData1 = pd.concat([foreData1, df1])

In [113]:
foreData1

                     1      2     3     4    5   ...    22   23   24   25   26
0      2013-01-01 00:00    1.3   NaN   3.2  340  ...     0  NaN  NaN  NaN  NaN
1      2013-01-01 01:00     .9   NaN   2.6  320  ...     0  NaN  NaN  NaN  NaN
2      2013-01-01 02:00    1.5   NaN     3  340  ...     0  NaN  NaN  NaN  NaN
3      2013-01-01 03:00    2.7     0   1.7  270  ...    .3  NaN  NaN  NaN  NaN
4      2013-01-01 04:00     .6   NaN   1.8  320  ...    .1  NaN  NaN  NaN  NaN
...                 ...    ...   ...   ...  ...  ...   ...  ...  ...  ...  ...
52584  2018-12-31 23:00    3.7   NaN   2.5   20  ...   1.6  NaN  NaN  NaN  NaN
52585  2015-06-27 05:00   20.4   NaN  2.25  315  ...  19.7  NaN  NaN  NaN  NaN
52586  2015-11-02 22:00     12   NaN  3.05  290  ...  11.5  NaN  NaN  NaN  NaN
52587  2017-04-25 21:00  15.45  1.85  1.25  295  ...  16.5  NaN  NaN  NaN  NaN
52588  2017-04-25 22:00  15.45  1.85  1.25  295  ...  16.5  NaN  NaN  NaN  NaN

[52584 rows x 26 columns]

### 3) date,time column생성 & datetime 형식으로 변환-정렬

#### 컬럼 생성

In [114]:
foreData1[27] = foreData1[1].str.split(' ').str[0]
foreData1[28] = foreData1[1].str.split(' ').str[1]

#### 변환

In [115]:
foreData1[1] = pd.to_datetime(foreData1[1],format='%Y-%m-%d %H:%M', errors='ignore') #합친거 datetime 형식으로 변환
foreData1[27] = pd.to_datetime(foreData1[27],format='%Y-%m-%d', errors='ignore') # date 형식으로 변환
foreData1[28] = pd.to_datetime(foreData1[28],format='%H:%M', errors='ignore') #time 형식으로 변환

#### 정렬

In [116]:
foreData1=foreData1.sort_values(by=1) #datetime으로 정렬

In [117]:
foreData1 = foreData1.reset_index()  #index reset
foreData1 = foreData1.drop('index',1) # index reset 하면 기존 index가 컬럼에 추가되므로 삭제
foreData1

                       1    2    3   ...   26         27                  28
0     2013-01-01 00:00:00  1.3  NaN  ...  NaN 2013-01-01 1900-01-01 00:00:00
1     2013-01-01 01:00:00   .9  NaN  ...  NaN 2013-01-01 1900-01-01 01:00:00
2     2013-01-01 02:00:00  1.5  NaN  ...  NaN 2013-01-01 1900-01-01 02:00:00
3     2013-01-01 03:00:00  2.7    0  ...  NaN 2013-01-01 1900-01-01 03:00:00
4     2013-01-01 04:00:00   .6  NaN  ...  NaN 2013-01-01 1900-01-01 04:00:00
...                   ...  ...  ...  ...  ...        ...                 ...
52579 2018-12-31 19:00:00  4.3  NaN  ...  NaN 2018-12-31 1900-01-01 19:00:00
52580 2018-12-31 20:00:00  3.9  NaN  ...  NaN 2018-12-31 1900-01-01 20:00:00
52581 2018-12-31 21:00:00  3.5  NaN  ...  NaN 2018-12-31 1900-01-01 21:00:00
52582 2018-12-31 22:00:00  3.8  NaN  ...  NaN 2018-12-31 1900-01-01 22:00:00
52583 2018-12-31 23:00:00  3.7  NaN  ...  NaN 2018-12-31 1900-01-01 23:00:00

[52584 rows x 28 columns]

### 4) 필요없는 컬럼 골라내기

일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일사(MJ/m2),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)

In [118]:
foreData = foreData1.copy()
foreData1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52584 entries, 0 to 52583
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       52584 non-null  datetime64[ns]
 1   2       52439 non-null  object
 2   3       5308 non-null   object
 3   4       52565 non-null  object
 4   5       52526 non-null  object
 5   6       52518 non-null  object
 6   7       52488 non-null  object
 7   8       52495 non-null  object
 8   9       52572 non-null  object
 9   10      52517 non-null  object
 10  11      28780 non-null  object
 11  12      0 non-null      object
 12  13      563 non-null    object
 13  14      18 non-null     object
 14  15      18471 non-null  object
 15  16      18492 non-null  object
 16  17      12905 non-null  object
 17  18      14085 non-null  object
 18  19      48190 non-null  object
 19  20      3135 non-null   object
 20  21      5179 non-null   object
 21  22      52249 non-null  object
 22  23      0 non-null      object
 23  24      0 non-null      object
 24  25      0 non-null      object
 25  26      0 non-null      object
 26  27      52584 non-null  datetime64[ns]
 27  28      52584 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(25)
memory usage: 11.2+ MB

끝에서 4개는 값이 없으므로 컬럼 삭제

In [119]:
foreData1 = foreData1.drop(23,1)
foreData1 = foreData1.drop(24,1)
foreData1 = foreData1.drop(25,1)
foreData1 = foreData1.drop(26,1)

In [120]:
foreData1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52584 entries, 0 to 52583
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       52584 non-null  datetime64[ns]
 1   2       52439 non-null  object
 2   3       5308 non-null   object
 3   4       52565 non-null  object
 4   5       52526 non-null  object
 5   6       52518 non-null  object
 6   7       52488 non-null  object
 7   8       52495 non-null  object
 8   9       52572 non-null  object
 9   10      52517 non-null  object
 10  11      28780 non-null  object
 11  12      0 non-null      object
 12  13      563 non-null    object
 13  14      18 non-null     object
 14  15      18471 non-null  object
 15  16      18492 non-null  object
 16  17      12905 non-null  object
 17  18      14085 non-null  object
 18  19      48190 non-null  object
 19  20      3135 non-null   object
 20  21      5179 non-null   object
 21  22      52249 non-null  object
 22  27      52584 non-null  datetime64[ns]
 23  28      52584 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(21)
memory usage: 9.6+ MB

1 일시, 2 기온(°C), 3 강수량(mm), 4 풍속(m/s), 5 풍향(16방위), 6 습도(%), 7 증기압(hPa), 8 이슬점온도(°C), 9 현지기압(hPa), 10 해면기압(hPa), 11 일조(hr), 12 일사(MJ/m2), 13 적설(cm), 14 3시간신적설(cm), 15 전운량(10분위), 16 중하층운량(10분위), 17 운형(운형약어), 18 최저운고(100m ), 19 시정(10m), 20 지면상태(지면상태코드), 21 현상번호(국내식), 22 지면온도(°C)

12~21 out

In [121]:
for i in range(12, 22):
  foreData1 = foreData1.drop(i,1)

In [122]:
foreData1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52584 entries, 0 to 52583
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       52584 non-null  datetime64[ns]
 1   2       52439 non-null  object
 2   3       5308 non-null   object
 3   4       52565 non-null  object
 4   5       52526 non-null  object
 5   6       52518 non-null  object
 6   7       52488 non-null  object
 7   8       52495 non-null  object
 8   9       52572 non-null  object
 9   10      52517 non-null  object
 10  11      28780 non-null  object
 11  22      52249 non-null  object
 12  27      52584 non-null  datetime64[ns]
 13  28      52584 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(11)
memory usage: 5.6+ MB

1 일시, 2 기온(°C), 3 강수량(mm), 4 풍속(m/s), 5 풍향(16방위), 6 습도(%), 7 증기압(hPa), 8 이슬점온도(°C), 9 현지기압(hPa), 10 해면기압(hPa), 11 일조(hr), 22 지면온도(°C), 27 date, 28 time

In [123]:
foreData1.columns = ['datetime','tem','rain','windSpeed','windDirect','humidity','vaporPressure','dewPoint','pressure','seaLevelPressure','sunshine','groundTem','date', 'time']

In [124]:
foreData1 = foreData1[['datetime','date', 'time','tem','rain','windSpeed','windDirect','humidity','vaporPressure','dewPoint','pressure','seaLevelPressure','sunshine','groundTem']]

###### 버리기 아까운 혹시몰라서

In [ ]:
# data1 = data1.astype({3: np.float,4: np.float,5: np.float,6: np.float
#                       ,7: np.float,8: np.float,9: np.float
#                       ,10: np.float,11: np.float,12: np.float
#                       ,13: np.float,14: np.float,16: np.float})
# data1.dftype()    
# arr = ['date','tem','temQC'
#        ,'rain','rainQC'
#        ,'windSpeed','windSpeedQC','windDirection','windDirectionQC'
#        ,'snow','snow3Hour'
#        ,'cloud','middleCloud','clodeUn','highCloud']

#data1.to_csv("weather_data_day.csv", mode='w')

In [ ]:
foreData4  = foreData.copy()
foreData4.info

<bound method DataFrame.info of                        1    2    3    4    5   6   ...   21   22   23   24   25   26
0     2013-01-01 00:00:00  1.3  NaN  3.2  340  77  ...  NaN    0  NaN  NaN  NaN  NaN
1     2013-01-01 01:00:00   .9  NaN  2.6  320  77  ...  NaN    0  NaN  NaN  NaN  NaN
2     2013-01-01 02:00:00  1.5  NaN    3  340  77  ...  NaN    0  NaN  NaN  NaN  NaN
3     2013-01-01 03:00:00  2.7    0  1.7  270  74  ...   01   .3  NaN  NaN  NaN  NaN
4     2013-01-01 04:00:00   .6  NaN  1.8  320  82  ...  NaN   .1  NaN  NaN  NaN  NaN
...                   ...  ...  ...  ...  ...  ..  ...  ...  ...  ...  ...  ...  ...
52584 2018-12-31 19:00:00  4.3  NaN  4.7  340  58  ...  NaN  3.3  NaN  NaN  NaN  NaN
52585 2018-12-31 20:00:00  3.9  NaN  4.5  360  61  ...  NaN  2.9  NaN  NaN  NaN  NaN
52586 2018-12-31 21:00:00  3.5  NaN    4  360  59  ...  NaN  1.9  NaN  NaN  NaN  NaN
52587 2018-12-31 22:00:00  3.8  NaN  3.4   20  61  ...  NaN  2.1  NaN  NaN  NaN  NaN
52588 2018-12-31 23:00:00  3.7  NaN  2.5   20  64  ...  NaN  1.6  NaN  NaN  NaN  NaN

[52589 rows x 26 columns]>

In [ ]:
foreData4[foreData4[1].isin(['187'])]

ValueError: ignored

In [ ]:
foreData4[foreData4[1].str.contains('24:00')]

In [ ]:
len(foreData4[foreData4[1].str.contains('23:00')])

In [ ]:
for i in range(0,25):
  if i<10: num1 = "0"+str(i)+":00"
  else : num1 = str(i)+":00"
  #print(num1)
  print(num1, len(foreData4[foreData4[1].str.contains(num1)]))

In [ ]:
for i in range(1,13):
  if i<10: num1 = "-0"+str(i)+"-"
  else : num1 = "-"+str(i)+"-"
  #print(num1)
  print(num1, len(foreData4[foreData4[1].str.contains(num1)]))

In [ ]:
len(foreData4)

In [ ]:
totsum=0
for j in range(2013,2020,1):
  sum1 = 0
  for i in range(1,13):
    
    if i<10: num1 = str(j)+"-0"+str(i)
    else : num1 = str(j)+"-"+str(i)
    #print(num1)
    print(num1, len(foreData4[foreData4[1].str.contains(num1)]))
    sum1=sum1+len(foreData4[foreData4[1].str.contains(num1)])
  print(sum1)
  totsum += sum1
  print("======================================")

print(totsum)

In [ ]:
foreData4[foreData4[1].str.contains('2015-11')]

In [ ]:
foreData0 = foreData[foreData4[1].str.contains('2015-06')].copy()
foreData0

찾았다.,....죽여,,, 2016 30분 데이터^^

In [ ]:
u = 2016
for j in range(24,26,1):
  if j<10: y = str(u)+"-01-0"+str(j)+" "
  else : y = str(u)+"-01-"+str(j)+" "
  for i in range(0,24):
    if i<10: num1 = y + "0"+str(i)+":30"
    else : num1 = y+ str(i)+":30"
    print(num1, len(foreData4[foreData4[1].str.contains(num1)]))

In [ ]:
len(foreData4)

In [ ]:
foreData4.drop(foreData4.loc[foreData4[1].str.contains(':30')].index, inplace=True)

In [ ]:
len(foreData4)

In [ ]:
u = 2017
for j in range(1,31,1):
  if j<10: y = str(u)+"-04-0"+str(j)+" "
  else : y = str(u)+"-04-"+str(j)+" "
  for i in range(12,24):
    if i<10: num1 = y + "0"+str(i)+":00"
    else : num1 = y+ str(i)+":00"
    print(num1, len(foreData4[foreData4[1].str.contains(num1)]))

##### 여기서부터 미리 테스트

In [ ]:
foreData5 = foreData1.copy()

In [ ]:
foreData5 = foreData1.copy()
foreData5[foreData5[1].str.contains('2015-06-27 04:00') ==True].index
foreData5[foreData5[1].str.contains('2015-06-27 06:00') ==True].index
print(foreData5[foreData5[1].str.contains('2015-06-27 04:00') ==True].index)
print(foreData5[foreData5[1].str.contains('2015-06-27 06:00') ==True].index)

df = pd.DataFrame(foreData5.iloc[foreData5[foreData5[1].str.contains('2015-06-27 04:00') ==True].index[0]:foreData5[foreData5[1].str.contains('2015-06-27 06:00') ==True].index[0]+1])

In [ ]:
foreData5[foreData5[1].str.contains('2015-06-27 04:00') ==True].index[0]

In [ ]:
df = pd.DataFrame(foreData5.iloc[foreData5[foreData5[1].str.contains('2015-06-27 04:00') ==True].index[0]:foreData5[foreData5[1].str.contains('2015-06-27 06:00') ==True].index[0]+1])

In [ ]:
foreData6 = foreData5.copy()

In [ ]:
df[2].astype(float).mean()

In [ ]:
df1 = pd.DataFrame({1: '2015-06-27 05:00',
 2: df[2].astype(float).mean(),
 3: df[3].astype(float).mean(),
 4: df[4].astype(float).mean(),
 5: df[5].astype(float).mean(),
 6: df[6].astype(float).mean(),
 7: df[7].astype(float).mean(),
 8: df[8].astype(float).mean(),
 9: df[9].astype(float).mean(),
 10: df[10].astype(float).mean(),
 11: df[11].astype(float).mean(),
 12: df[12].astype(float).mean(),
 13: df[13].astype(float).mean(),
 14: df[14].astype(float).mean(),
 15: df[15].astype(float).mean(),
 16: df[16].astype(float).mean(),
 17: df[17].astype(float).mean(),
 18: df[18].astype(float).mean(),
 19: df[19].astype(float).mean(),
 20: df[20].astype(float).mean(),
 21: df[21].astype(float).mean(),
 22: df[22].astype(float).mean(),
 23: df[23].astype(float).mean(),
 24: df[24].astype(float).mean(),
 25: df[25].astype(float).mean(),
 26: df[26].astype(float).mean()},index=[52585])

In [ ]:
foreData6 = pd.concat([foreData6, df1])

In [ ]:
foreData6

2015-11-02 21:00 1
2015-11-02 22:00 0
2015-11-02 23:00 1
빠진거^^

In [ ]:
foreData5[foreData5[1].str.contains('2015-11-02 21:00') ==True].index
foreData5[foreData5[1].str.contains('2015-11-02 23:00') ==True].index
print(foreData5[foreData5[1].str.contains('2015-11-02 21:00') ==True].index)
print(foreData5[foreData5[1].str.contains('2015-11-02 23:00') ==True].index)

In [ ]:
foreData5[foreData5[1].str.contains('2015-11-02 21:00') ==True].index
foreData5[foreData5[1].str.contains('2015-11-02 23:00') ==True].index
print(foreData5[foreData5[1].str.contains('2015-11-02 21:00') ==True].index)
print(foreData5[foreData5[1].str.contains('2015-11-02 23:00') ==True].index)
df = pd.DataFrame(foreData5.iloc[foreData5[foreData5[1].str.contains('2015-11-02 21:00') ==True].index[0]:foreData5[foreData5[1].str.contains('2015-11-02 23:00') ==True].index[0]+1])

In [ ]:
df

In [ ]:
foreData5[foreData5[1].str.contains('2015-11-02 21:00') ==True].index
foreData5[foreData5[1].str.contains('2015-11-02 23:00') ==True].index
print(foreData5[foreData5[1].str.contains('2015-11-02 21:00') ==True].index)
print(foreData5[foreData5[1].str.contains('2015-11-02 23:00') ==True].index)
df = pd.DataFrame(foreData5.iloc[foreData5[foreData5[1].str.contains('2015-11-02 21:00') ==True].index[0]:foreData5[foreData5[1].str.contains('2015-11-02 23:00') ==True].index[0]+1])
df1 = pd.DataFrame({1: '2015-11-02 22:00',
 2: df[2].astype(float).mean(),
 3: df[3].astype(float).mean(),
 4: df[4].astype(float).mean(),
 5: df[5].astype(float).mean(),
 6: df[6].astype(float).mean(),
 7: df[7].astype(float).mean(),
 8: df[8].astype(float).mean(),
 9: df[9].astype(float).mean(),
 10: df[10].astype(float).mean(),
 11: df[11].astype(float).mean(),
 12: df[12].astype(float).mean(),
 13: df[13].astype(float).mean(),
 14: df[14].astype(float).mean(),
 15: df[15].astype(float).mean(),
 16: df[16].astype(float).mean(),
 17: df[17].astype(float).mean(),
 18: df[18].astype(float).mean(),
 19: df[19].astype(float).mean(),
 20: df[20].astype(float).mean(),
 21: df[21].astype(float).mean(),
 22: df[22].astype(float).mean(),
 23: df[23].astype(float).mean(),
 24: df[24].astype(float).mean(),
 25: df[25].astype(float).mean(),
 26: df[26].astype(float).mean()},index=[52586])

In [ ]:
foreData6 = pd.concat([foreData6, df1])

In [ ]:
foreData6

2017-04-25 19:00 1
2017-04-25 20:00 1
2017-04-25 21:00 0
2017-04-25 22:00 0
2017-04-25 23:00 1
2017-04-26 12:00 1
2017-04-26 13:00 1

In [ ]:
foreData5[foreData5[1].str.contains('2017-04-25 19:00') ==True].index
foreData5[foreData5[1].str.contains('2015-11-02 23:00') ==True].index
print(foreData5[foreData5[1].str.contains('2017-04-25 19:00') ==True].index)
print(foreData5[foreData5[1].str.contains('2017-04-25 20:00') ==True].index)
print(foreData5[foreData5[1].str.contains('2017-04-25 23:00') ==True].index)

In [ ]:
foreData5[foreData5[1].str.contains('2017-04-25 19:00') ==True].index
foreData5[foreData5[1].str.contains('2015-11-02 23:00') ==True].index
print(foreData5[foreData5[1].str.contains('2017-04-25 19:00') ==True].index)
print(foreData5[foreData5[1].str.contains('2017-04-25 20:00') ==True].index)
print(foreData5[foreData5[1].str.contains('2017-04-25 23:00') ==True].index)
df = pd.DataFrame(foreData5.iloc[foreData5[foreData5[1].str.contains('2017-04-25 20:00') ==True].index[0]:foreData5[foreData5[1].str.contains('2017-04-25 23:00') ==True].index[0]+1])

In [ ]:
df

In [ ]:
foreData5[foreData5[1].str.contains('2017-04-25 19:00') ==True].index
foreData5[foreData5[1].str.contains('2015-11-02 23:00') ==True].index
print(foreData5[foreData5[1].str.contains('2017-04-25 19:00') ==True].index)
print(foreData5[foreData5[1].str.contains('2017-04-25 20:00') ==True].index)
print(foreData5[foreData5[1].str.contains('2017-04-25 23:00') ==True].index)
df = pd.DataFrame(foreData5.iloc[foreData5[foreData5[1].str.contains('2017-04-25 20:00') ==True].index[0]:foreData5[foreData5[1].str.contains('2017-04-25 23:00') ==True].index[0]+1])
df1 = pd.DataFrame({1: '2017-04-25 21:00',
 2: df[2].astype(float).mean(),
 3: df[3].astype(float).mean(),
 4: df[4].astype(float).mean(),
 5: df[5].astype(float).mean(),
 6: df[6].astype(float).mean(),
 7: df[7].astype(float).mean(),
 8: df[8].astype(float).mean(),
 9: df[9].astype(float).mean(),
 10: df[10].astype(float).mean(),
 11: df[11].astype(float).mean(),
 12: df[12].astype(float).mean(),
 13: df[13].astype(float).mean(),
 14: df[14].astype(float).mean(),
 15: df[15].astype(float).mean(),
 16: df[16].astype(float).mean(),
 17: df[17].astype(float).mean(),
 18: df[18].astype(float).mean(),
 19: df[19].astype(float).mean(),
 20: df[20].astype(float).mean(),
 21: df[21].astype(float).mean(),
 22: df[22].astype(float).mean(),
 23: df[23].astype(float).mean(),
 24: df[24].astype(float).mean(),
 25: df[25].astype(float).mean(),
 26: df[26].astype(float).mean()},index=[52587])
foreData6 = pd.concat([foreData6, df1])

In [ ]:
foreData6 = pd.concat([foreData6, df1])

In [ ]:
foreData6

In [ ]:
df1 = pd.DataFrame({1: '2017-04-25 22:00',
 2: df[2].astype(float).mean(),
 3: df[3].astype(float).mean(),
 4: df[4].astype(float).mean(),
 5: df[5].astype(float).mean(),
 6: df[6].astype(float).mean(),
 7: df[7].astype(float).mean(),
 8: df[8].astype(float).mean(),
 9: df[9].astype(float).mean(),
 10: df[10].astype(float).mean(),
 11: df[11].astype(float).mean(),
 12: df[12].astype(float).mean(),
 13: df[13].astype(float).mean(),
 14: df[14].astype(float).mean(),
 15: df[15].astype(float).mean(),
 16: df[16].astype(float).mean(),
 17: df[17].astype(float).mean(),
 18: df[18].astype(float).mean(),
 19: df[19].astype(float).mean(),
 20: df[20].astype(float).mean(),
 21: df[21].astype(float).mean(),
 22: df[22].astype(float).mean(),
 23: df[23].astype(float).mean(),
 24: df[24].astype(float).mean(),
 25: df[25].astype(float).mean(),
 26: df[26].astype(float).mean()},index=[52588])

In [ ]:
foreData6 = pd.concat([foreData6, df1])

In [ ]:
foreData6